@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #2b303b;
    color: #c0c5ce;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.root {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;

    h1 {
        text-align: center;
        color: #be2edd;
    }
    .slogan {
        text-align: center;
        font-size: 1.5rem;
        font-style: italic;
    }

    .form {
        .textarea textarea {
            width: 100%;
            height: 400px;
            padding: 0.5rem;
            background-color: #4b5467;
            border-color: #383838;
            color: #c0c5ce;
            outline: none;
            margin-bottom: 0.5rem;

            &:focus {
                box-shadow: 0 0 5px #be2edd;
            }
        }
        .group {
            display: flex;
            justify-content: space-between;

            .btn button {
                background-color: #be2edd;
                border: 1px solid #be2edd;
                color: #e8e8ea;
                display: inline-block;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                padding: .375rem 2rem;
                text-align: center;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                user-select: none;
                vertical-align: middle;
                cursor: pointer;

                &:hover {
                    background-color: #8c1ba4;
                }
            }

            .select select {
                padding: 0.6rem;
            }
        }
    }
}

.snippet {
    width: 100%;
    height: 100%;

    pre {
        margin: 0;
        height: 100%;

        code {
            height: 100%;
        }
    }
}
