{% extends "base.html.twig" %}

{% block body %}
    <div class="root">
        <h1>Søppel</h1>
        <p class="slogan">paste code and share it!</p>

        <div class="form">
            {{ form_start(form) }}
            <div class="textarea">
                {{ form_widget(form.text) }}
            </div>
            <div class="group">
                <div class="select">
                    {{ form_widget(form.format) }}
                </div>
                <div class="btn">
                    {{ form_widget(form.send) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}


